<div class="content">
    <div class="list_libraries">    
        <div class="form-group">
          <label for="exampleSelect1"><b>List Books of </b></label>
          <select (change)="filterLibrary($event.target.value)">
             <option> --- Select Library ---</option>
             <option *ngFor="let library of libraries" value={{library.id}}> {{library.name}}</option>
          </select>
        </div>
    </div>
    <div class="books">
      <table class="table table-striped table-bordered table-sm row-border hover" *ngIf="libraryBooks.length > 0"  >
        <thead>
          <tr>
            <th>Sno</th>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elem of libraryBooks; let i = index">
            <td>{{i+1}}</td>
            <td>{{ elem.id}}</td>
            <td>{{ elem.name}}</td>
            <td>{{ elem.author}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>